<style type="text/css">
  #papa{
    background-color:rgba(0,0,0,0.35);
    float:left;
    box-shadow: 0 10px 20px #556;
    margin-top: 50px;
    height: 500px;
    left:+50%;
    box-sizing: content-box;
    padding:0;
    position:relative;
    transform:translateX(-50%);
    width:600px;
  }
  #papa div{
    transform:translateY(-50%);
    top:+50%;
    position:relative;
  }
  h2{
    color: #fff;
    padding: 10px 0;
    border-bottom: 4px solid #fff;
    border-top: 4px solid #fff;
    text-align: center;
    margin-bottom: 50px;
  }
  form{
    display: block;
    width: 100%;
  }
  input{
    color: #222;
  }
  label{
    margin-right: 20px;
    width: 200px;
    text-align: right;
  }
  .field,.actions{
    padding: 10px 20px 30px;
    color: #fff;
    background-color: rgba(50,50,60,0.5);
    width: 100%;
    margin-bottom: 20px;
  }
  .actions{
    padding: 0;
  }
  .actions input{
    color: #fff;
    font-size: 20px;
    display: block;
    width: 100%;
    height: 60px;
    background-image: none;
    border:3px solid rgba(255,255,255,0.8);
    border-radius: 3px;
    background-color: transparent;
  }
  .actions input:hover,
  .actions input:focus{
    border:4px solid rgba(50,50,60,0.8);;
    background-color: #fff;
    color: #555;
  }
</style>
<div id="papa">
<div>
  <h2>Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation,"Confirm" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</div>
</div>